:root {
	--text: #4d312d;
	--backgroundColor: var(--containerColor);
	--containerColor: #e0c0b9;
	--containerColor2: #723b4e;
	--borderColor: #723b4e;
	--accentColor: #B55468;
	--accentColor2: #893567;
	--accentColor3: #C25E25;
	--accentColor4: #F48067;
	--accentColor5: #FDB9B2;
}

html {
	color: var(--text);
	font-family: 'Times New Roman', Times, serif;
	font-size: clamp(1rem, 0.5vw, 2.5rem);
}

.container {
	max-width: 100%;
	margin: 0;
	background: var(--containerColor);
}

.post {
    padding: 0.5em;
    border-bottom: 1px dotted var(--borderColor);
    font-size: medium;
}

main {
	height: max-content;
}